/** Dark theme primary colors */
$dark-color-letter: #fff;
$dark-color-primary-a0: #215bf1;
$dark-color-primary-a10: #516bf3;
$dark-color-primary-a20: #6f7cf6;

$dark-color-secondary-a0: #3a3e4c;

$dark-background: #15141f;
$dark-navegator: #252939;

/** Light theme primary colors */
$light-color-letter: #213547;
$light-color-primary-a0: #215bf1;
$light-color-primary-a10: #1a48c0;
$light-color-primary-a20: #133690;

$light-color-secondary-a0: #f2f5ff;

$light-background: #fff;
$light-navegator: #e6ecff;