/** Dark theme primary colors */
$dark-color-letter: #fff;
$dark-color-primary-a0: #215bf1;
$dark-color-primary-a10: #516bf3;
$dark-color-primary-a20: #6f7cf6;

$dark-background: #15141f;
$dark-navegator: #252939;

/** Light theme primary colors */
$light-color-letter: #000;
$light-color-primary-a0: #215bf1;
$light-color-primary-a10: #2945ff;
$light-color-primary-a20: #526fff;

$light-background: #fff;
$light-navegator: #e6ecff;