.move-up {
    animation: moveDown .5s linear forwards;
}

.move-down {
    animation: moveUp .5s linear forwards;
}

.move-left {
    animation: moveLeft .5s linear forwards;
}

.move-right {
    animation: moveRight .5s linear forwards;
}

.growShrink {
    animation: growShrink 1.5s infinite ease-in-out;
}

.animated-border {
    border: 2px solid transparent;
    border-radius: 1px;
    animation: pulse-shadow 1.5s infinite; /* Activa la animación */
    box-shadow: 0 0 1px 2px rgba(224, 39, 42, 0.5); /* Brillo inicial */
}

@keyframes pulse-shadow {
    0% {
        box-shadow: 0 0 1px 1px rgba(248, 182, 183, 0.5);
    }
    50% {
        box-shadow: 0 0 2px 3px rgba(224, 39, 42, 0.8); /* Más brillo */
    }
    100% {
        box-shadow: 0 0 1px 1px rgba(248, 182, 183, 0.5);
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(-105%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-105%);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-105%);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(-105%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes growShrink {
    0%, 100% {
      transform: scale(1); /* Tamaño normal */
    }
    50% {
      transform: scale(1.05); /* Agrandarse */
    }
}