@use './consts' as ct;

.range-slider {
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
}

.range-selected {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background-color: var(--primary);
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid var(--primary);
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
}

.range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid var(--primary);
    background-color: #fff;
    pointer-events: auto;
    -moz-appearance: none;
}

input[type=text] {
    padding: 0.175rem 0.5rem;
}

select {
    padding: 0.175rem 0.125rem;
}

input:not([type=range]),
select {
    color: var(--text);
    background: var(--background);
    outline: none;
    margin-bottom: 0.25rem;
    border: 3px solid var(--navegator);
    border-radius: 5px;

    &:focus {
        border: 3px solid var(--primary);
    }

}

a {
    font-weight: 500;
    transition: color 0.3s ease;
    text-decoration: inherit;
    cursor: pointer;

    &:hover {
        color: var(--primary);
    }

    &.--active {
        color: var(--primary);
    }
}

button {
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;

    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
        color: #646cff;
    }

    &:disabled {
        color: #C6C6C6;
    }

    &:focus,
    &:focus-visible {
        outline: none;
    }
}

footer {
    color: var(--text);
    text-align: center;

    .line {
        background-color: white;
        height: 1px;
        margin-bottom: 1rem;
    }
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {


    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    h6 {
        font-size: 1.125rem;
    }
}

/* Estilos para desktop */
@media (min-width: 769px) {

    footer {
        padding-left: ct.$nav-desktop-width;
        width: 100%;
    }

    h1 {

        font-size: 5rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    h6 {
        font-size: 1.25rem;
    }
}